.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-new-btn {
    background-color: #3a4758;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  